@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {

    --color-night: #121212;
    --color-secondary: #FFFFFF;
    --color-platinum: #E0E0E0;
    --color-berkeley: #003366;
    --color-ppl: #4B0082;
    --color-office: #006400;
    --color-silver: #B0B0B0;

    --font-space-mono: "Space Mono", monospace;
}


