@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {

    --color-night: #121212;
    --color-secondary: #FFFFFF;
    --color-platinum: #E0E0E0;
    --color-berkeley: #003366;
    --color-ppl: #4B0082;
    --color-office: #006400;
    --color-silver: #B0B0B0;

    --font-space-mono: "Space Mono", monospace;
}

.char {
    white-space: nowrap;
    display: inline-block;
}

.react-select__control {
  @apply bg-black;
}
.react-select__menu {
  @apply bg-black;
}
.react-select__option {
  @apply bg-black text-white ;
}
.react-select__multi-value {
  @apply bg-black;
}
.react-select__multi-value__remove {
  @apply bg-black;
}

